@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0px, 0px);
    -ms-transform:  translate(0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, -55%);
    -ms-transform: translate(0px, -55%);
  }
}

.front-page {
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 295px;
  border-style: none;
  background-color: white;
  .bg-image {
    height: 100%;
    @media (max-width: $grid-float-breakpoint) {
      height: auto;
      padding: 0 10px;
    }
    .row {
      height: 680px;
      min-height: 600px;
      position: relative;
      top: 70px;
      @media (max-width: $grid-float-breakpoint) {
        height: auto;
      }
    }
  }
  .header {
    @media (min-width: $grid-float-breakpoint) {
      -ms-transform: translate(0px, -55%);
      transform: translate(0px, -55%);
      top: 50%;
      -webkit-animation: fadeInUp 2s;
      animation: fadeInUp 2s;
    }
    @media (max-width: $screen-md) {
      transform: translate(0px, 0px);
      top: 0;
    }
  }


}