@mixin btn-custom($color, $bgColor) {
  color: $color !important;
  background-color: $bgColor;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  transition: all .15s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px, rgba(0, 0, 0, 0.1) 0 1px 4px;
  border-bottom: 3px solid darken($bgColor, 10%);
  i {
    padding-right: 10px;
  }
  &:hover, &:focus, &:active {
    color: $color;
    background-color: darken($bgColor, 10%);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transition: all .5s ease;
  }
  @media (max-width: $screen-md) {
    font-size: 11px;
  }
}

.btn-white {
  @include btn-custom($brand-secondary, white);
}

.btn-green {
  @include btn-custom(white, $brand-secondary);
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.btn-border {
  background-color: transparent;
  border: 2px solid white;
  transition: all .15s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px, rgba(0, 0, 0, 0.1) 0 1px 4px;
  border-radius: 0;
  padding: 10px;
  color: white;
  &:hover, &:focus, &:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
}

.btn-close {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  color: $brand-secondary;
  font-size: 20px;
  &:hover, &:focus {
    background-color: transparent;
    color: $brand-secondary;
  }
}

.btn-primary {
  @include btn-custom(white, $brand-primary);
}