.modal-backdrop.in {
  opacity: 0.8;
  background-color: black;
}

.modal {
  padding-left:0!important;

  .modal-content {
    border-radius: 0;
  }

  .modal-dialog {
    margin: 60px auto;
    max-width: 600px;
    .wpcf7 {
      padding: 30px 0;
    }
    .wpcf7-response-output {
      text-align: center;
      margin:  0;
      padding: 0;
    }
  }

  &.gallery {
    .modal-dialog {
      width: 1000px;
      max-width: 1000px;
    }
  }

  @media (max-width: $screen-sm) {
    .modal-dialog {
      width: 100%!important;
    }

    .modal-body {
      padding: 10px;
    }
  }

}

.gallery.modal {
  * {
    border: none;
    padding:0;
    background-color: transparent;
  }
  .modal-content {
    background-color: white;
    opacity: 0;
  }
  .gallery-footer {
    position: relative;
    padding: 10px;
    border-bottom: 5px solid $gray;
  }
  .btn-close {
    font-size: 30px;
    color: white;
    padding: 5px 10px 10px 10px;
  }
}