.panel {
  border: none;
  box-shadow: none;
  .panel-heading {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px, rgba(0, 0, 0, 0.1) 0 1px 4px;
    padding: 0;
    a {
      display: block;
      padding: 15px;
    }
  }
  .panel-title {
    a {
      &:after {
        font-family: FontAwesome;
        content: "\f106";
        position: absolute;
        right: 20px;
        top: 15px;
      }
      &.collapsed:after {
        content: "\f107";
      }
    }

  }
  img {
    margin: 0 auto;
    display: block;
  }
  .panel-body {
    h4 {

    }
  }


}