p, em, li {
  font-weight: 300;
  line-height: 1.7;
}
h1, h2, h3, h4 {
  margin:10px 0;
  padding:0;
}

a {
  text-decoration: none!important;
  transition: .1s ease;
}

h3 {
  font-size: 20px;
  font-style: italic;
  color: $brand-secondary;
}

ul.custom {
  padding:0;
  margin:0;
  li {
    list-style: none;
    padding:0;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.8;
    .fa {
      color: #B2B2B2;
      font-size: 20px;
      width: 40px;
      text-align: center;
    }
    a {
      color:  #B2B2B2;
      &:hover {
        .fa {
          color: $brand-secondary;
        }
      }
    }
  }
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    counter-increment: step-counter;
    padding-left: 16px;
    position: relative;
    &:before {
      content: counter(step-counter);
      font-weight: bold;
      position: absolute;
      left: 0;
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: $brand-primary;
}